# yard generated
doc
.yardoc

# bundler
.bundle

# OS/IDE specific
.DS_Store
*~
*.swp

# testing generated
log/*.log

# rbfu/rvm/rbenv version file
.ruby-version

# gem packages
pkg

# don't include Gemfile.lock
Gemfile.lock

# coverage
coverage/*
