ENV["RORY_ENV"] ||= ENV["RACK_ENV"] || "development"

require "bundler/setup"
require "rory/tasks"

Rake::TaskManager.record_task_metadata = true

task :environment do
  require_relative "config/application"
  RORY_APP = <%= camelized_app_name %>::Application
end